<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notpad.com</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</head>
<body>
    <h1>NOTPAD</h1>
    <div id="pathToGo">
        <form onsubmit="return go()">
        " notpad.com/ "
        <input type="text" id="path" name="path" autocapitalize="off" autocorrect="off">
        <button type="submit">Go!</button>
        </form>
    </div>
</body>
</html>